@model _4DLogicRLM.Models.ResourceQuantityType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResourceQuantityType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResournceQuantityTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResournceQuantityTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResournceQuantityTypeDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResournceQuantityTypeDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceQuantityTypeShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceQuantityTypeShortName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResourceQuantityTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
