@model _4DLogicRLM.Models.Account

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountUserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountUserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionPlanFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionPlanFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionUserCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionUserCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrialPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrialPeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrialExpiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrialExpiration)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AccountID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
