@model _4DLogicRLM.Models.Resources

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Resources</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceTypeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceTypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RescourceQty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RescourceQty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceQtyTypeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceQtyTypeID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResourceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
